@import 'tailwindcss';
:root {
  --background: #eeeef4;
  --foreground: #202020;
  --1rem: 1rem;
}

@layer base {
  :root {
    --color-black: #202020;
  }
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --b400: #6a71e5;
  --b200: #9caffc;
  --b100: #a1cafe;
  --e100: #f0eeee;
  --black: #202020;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pretendard: 'Pretendard Variable';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeef4;
    --foreground: #020202;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard), Helvetica, sans-serif;
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}
html,
body {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera */
}
